@model IEnumerable<ShopApp.WebUI.Models.tblKategoriler>




<ul>
    <h3>Ürünler</h3>
    
    @foreach (var item in Model)
    {
        <li><a href="/Home/UrunDetay/@item.id">@item.ad<span> (@item.tblUrunler.Count())</span></a></li>
    }

    
   
</ul>
